<!DOCTYPE html>
<html>
	<head>
		<title>사업자 등록정보 확인 서비스</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<div id="content">
			<div>본 사이트는 <img src="/images/ntsLogo.png"></img>국세청 open api를 통해 정보를 제공합니다.</div>
			<%- include('../backArrow.ejs') %>
			<div class="paramsTable">
				<h1>조회 조건</h1>
				<table>
					<tr>
						<td>사업자 번호</td>
						<td><%= params.b_no %></td>
					</tr>
					<tr>
						<td>대표명</td>
						<td><%= params.p_nm %></td>
					</tr>
					<tr>
						<td>사업 개시일</td>
						<td><%= params.start_dt %></td>
					</tr>
				</table>
			</div>
			<div class="resultTable">
				<h1>조회 결과</h1>
				<table>
					<tr>
						<td>진위여부</td>
						<td id="validResult"><%= isValid %></td>
					</tr>
				</table>
			</div>
			<% if(result.b_stt !== undefined) { %>
			<div class="resultDetailTable">
				<h1>조회 결과 상세</h1>
				<table>
					<tr>
						<td>납세자 상태</td>
						<td><%= result.b_stt %></td>
					</tr>
					<tr>
						<td>과세 유형</td>
						<td><%= result.tax_type %></td>
					</tr>
					<tr>
						<td>과세유형 코드</td>
						<td><%= result.tax_type_cd %></td>
					</tr>
					<tr>
						<td>최근 과세유형 전환 일자</td>
						<td><%= result.tax_type_change_dt %></td>
					</tr>
					<tr>
						<td>세금계산서 적용일자</td>
						<td><%= result.invoice_apply_dt %></td>
					</tr>
					<tr>
						<td>폐업일</td>
						<td><%= result.end_dt %></td>
					</tr>
					<tr>
						<td>단위과세전환 폐업 여부(Y,N)</td>
						<td><%= result.utcc_yn %></td>
					</tr>
				</table>
			</div>
			<% } else { %>
			<div id="quote">
				<%- include('../quote.ejs') %>
			</div>
			<% } %>

		</div>
		<div id="advertizing">
			<p>ad soon</p>
		</div>

		<%- include('../contactBtn.ejs') %>

		<script src='/javascripts/validApiResult.js'></script>
	</body>
</html>
